SERVER_PORT=4000

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=epi_info
MYSQL_USER=epi_info
MYSQL_PASSWORD=epi_info_dev_password
MYSQL_ROOT_PASSWORD=epi_info_root_password

ASSET_STORAGE_PATH=./data/assets
PUBLIC_BASE_URL=http://localhost:4000
ADMIN_DIST_PATH=dist/admin
